<div class="container py-5">
    <div class="row d-flex justify-content-center my-4">
        <div class="col-md-8">
            <div class="card mb-4">
                <div class="card-header py-3">
                    <h5 class="mb-0">Giỏ hàng</h5>
                </div>
                <div class="card-body">
                    <!-- Single item -->
                    <div class="row" ng-repeat="gh in lstgh">
                        <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                            <!-- Image -->
                            <div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">
                                <img src="{{gh.img}}" class="w-100" alt="" />
                                <a href="#!">
                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                                </a>
                            </div>
                            <!-- Image -->
                        </div>
                        <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                            <!-- Data -->
                            <p><strong>{{gh.ten}}</strong></p>
                            <p>Màu: {{gh.color}}</p>
                            <p>Size: {{gh.size}}</p>
                            <button type="button" class="btn btn-secondary btn-sm me-1 mb-2" data-mdb-toggle="tooltip"
                                    title="Remove item" ng-click="delete_cart(gh.id)">
                                <i class="fas">
                                    <img src="~/img/icons8-trash-can-30.png" width="20px" height="30%"
                                         alt="">
                                </i>
                            </button>
                            <button type="button" class="btn btn-danger btn-sm mb-2" data-mdb-toggle="tooltip"
                                    title="Move to the wish list">
                                <i class="fas">
                                    <img src="~/img/icons8-favorite-64.png" width="20px" height="30%"
                                         alt="">
                                </i>
                            </button>
                            <!-- Data -->
                        </div>

                        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                            <!-- Quantity -->
                            <div class="d-flex mb-4" style="max-width: 300px">
                                <button class="btn btn-secondary px-3 me-2" style="width: 25%; height: 15%"
                                        onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                                    <i class="fas"><img src="~/img/icons8-minus-24.png" width="20px" alt=""></i>
                                </button>
                                <div class="form-outline">
                                    <input id="form1" min="0" name="quantity" value="1" type="number"
                                           class="form-control" />
                                    <label class="form-label" for="form1">Số lượng</label>
                                </div>
                                <button class="btn btn-secondary px-3 ms-2" style="width: 25%; height: 5%"
                                        onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                                    <i class="fas "><img src="~/img/icons8-plus-math-24.png" alt=""></i>
                                </button>
                            </div>
                            <!-- Quantity -->
                            <!-- Price -->
                            <p class="text-start text-md-center">
                                <strong>{{gh.gia}}vnđ</strong>
                            </p>
                            <!-- Price -->
                        </div>
                    </div>

                    <hr class="my-4" />

                </div>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <p><strong>Thời gian giao hàng dự kiến</strong></p>
                    <p class="mb-0">01.01.2023 - 20.01.2023</p>
                </div>
            </div>
            <div class="card mb-4 mb-lg-0">
                <div class="card-body">
                    <p><strong>Chúng tôi chấp nhận</strong></p>
                    <img class="me-2" width="45px"
                         src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/visa.svg"
                         alt="Visa" />
                    <img class="me-2" width="45px"
                         src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/amex.svg"
                         alt="American Express" />
                    <img class="me-2" width="45px"
                         src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/mastercard.svg"
                         alt="Mastercard" />
                </div>
            </div>
        </div>
        <div class="col-md-4" ng-repeat="gh in lstgh">
            <div class="card mb-4">
                <div class="card-header py-3">
                    <h5 class="mb-0">Tổng quát</h5>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                            Sản phẩm
                            <span>{{gh.gia}}vnđ</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                            Phí vận chuyển
                            <span>Miễn phí</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                            <div>
                                <strong>Tổng cộng</strong>
                                <strong>
                                    <p class="mb-0">(Đã tính cả thuế VAT)</p>
                                </strong>
                            </div>
                            <span><strong>{{gh.gia * gh.soluong}}</strong></span>
                        </li>
                    </ul>

                    <button ng-click="thanhtoan(gh.id)" type="button" class="btn btn-secondary btn-lg btn-block">
                        Thanh toán
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
