<div class="container text-center" style="margin-top:0px;padding-top: 30px;">
    <div class="row align-items-start">
        <div class="col-12 col-md-12">
            <h2 style="color: black; font-weight: bold;">Giới thiệu</h2>
        </div>
        <div class="col-12 col-md-12" align="justify" style="font-size: large; padding-bottom: 30px; font-weight: 500;">
            Chào các bạn, chúng tôi là TOKAGO – nền tảng kinh doanh sản phẩm sáng tạo hàng đầu tại Việt Nam.<br>
            <br>
            Đi lên từ người trẻ khởi nghiệp, chúng tôi thấu hiểu những khó khăn khi bắt đầu một dự án mới, cũng như
            sự nuối tiếc khi những ý tưởng trở nên dang dở do thiếu hụt kinh phí.
            Với mong muốn phát triển quan điểm mới về kinh doanh và giải quyết được những thiếu sót của phương thức
            sản xuất, đặt hàng truyền thống; cuối năm 2015, chúng tôi bắt đầu viết nên câu chuyện của TOKAGO.<br>
            <br>
            Nhiệm vụ chúng tôi đề ra là hỗ trợ các cá nhân, tổ chức có ý tưởng nhưng lại không đủ nhân sự, kinh
            nghiệm hoặc vốn ban đầu để khởi chạy một dự án kinh doanh. TOKAGO được thành lập, là nền tảng kinh doanh
            online cho phép mọi người thiết kế và bán áo thun mà không tốn bất kì một chi phí hay rủi ro nào. <br>
            <br>
            Tại TOKAGO, chúng tôi mong muốn những ý tưởng sẽ không chỉ là ý tưởng, và kinh doanh online trở nên dễ
            dàng hơn bao giờ hết. Luôn sáng tạo và đổi mới không ngừng, tận tâm vì khách hàng sẽ luôn là kim chỉ nam
            hoạt động của TOKAGO. <br>
            <br>
            Năm 2019, TOKAGO mở rộng sản phẩm không chỉ là áo thun, mà còn nhiều hơn thế nữa. Đặt nền móng trở thành
            “Nền tảng kinh doanh sản phẩm sáng tạo” tốt nhất tại trường Việt Nam”. <br>
            <br>
            Chúng tôi hoàn toàn tin mình có thể làm nên những điều đó. <br>
            <hr>

        </div>
    </div>
</div>
